.dynamic-share {
    .top-fix-tip{
        padding: 10px 0;
        text-align: center;
        background-color: #FA7E20;
        color: #fff;
        font-size: 16px;
    }
    .share-info-user{
        display: flex;
        padding: 16px 20px;
        font-size: 16px;
        .adm-avatar{
            border-radius: 50%;
            margin-right: 8px;
        }
        .title{
            display: flex;
            align-items: center;
            gap: 4px;
        }
        .desc{
            font-size: 12px;
            color: #686868;
            margin-top: 6px;
            line-height: 18px;
        }
    }
    .share-info-content-img{
        padding: 10px 20px;
        .img-item{
            width: 100% ;
            height: 111px;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            justify-content: center;
            overflow: hidden;
            background-color: #c9c6c6;
            border-radius: 8px;
            img{
                width: 100%;
            }
        }
    }
    .share-info-view-more{
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 0;
        .modal-bg{
            width: 100%;
        }
        .more-btn{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
  .bottom-fix-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 20px;
    color: #fff;
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 0.8);
    .bottom-download {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      .adm-button{
        font-size: 14px;
        letter-spacing: 2px;
      }
      .bottom-logo{
        display: flex;
        align-items: center;
        .title{
            font-size: 18px
        }
        .desc{
            font-size: 12px;
            line-height: 18px;
        }
        img{
            width: 44px;
            height: 44px;
            margin-right: 8px;
        }
      }
    }
  }
}
