:root:root[data-prefers-color-scheme='light'] {
  --adm-color-primary: #fa7e20;
  --adm-color-success: #52c41a;
  --adm-color-warning: #ff8f1f;
  --adm-color-danger: #ff3141;
  --adm-color-background: #ffffff;
  --adm-color-background-body: #f3f3f3;
  --adm-font-size-main: 16px;
}

:root:root[data-prefers-color-scheme='dark'] {
  --adm-color-primary: #fa7e20;
  --adm-color-success: #52c41a;
  --adm-color-warning: #ff8f1f;
  --adm-color-danger: #ff3141;
  --adm-color-background-body: #222222;
  --adm-font-size-main: 16px;
}

body,html {
  margin: 0;
}
